/*
CSS Syntax
selector{
	propertyA:  valueA;
	PropertyB:  valueB;
}


*/


/*
* - universal selector; it selects all elemets in the webpage
font-famiy="Courier New", monospace;
	it sets the font to be used by the browser which is Courier New.
	Since the specific font is not existing in all browser, monospace 
	gives the browser an option if Courier New is not existing.
	it will search its fonts that belong to monospace

	font-size - sets the font size to the specified measurement.
	px- pixels



*/
*{
	font-family: "Courier-New", monospace;
	font-size:  20px;
}


/*
html selector- used to select elements inside the html tag

*/
html{
	/* modifies the scroll behavior when navigating through the page */
	scroll-behavior: smooth;
}
/* 
body-selector- selects all the elements inside the body tag

background-color- modifies the background color of the elements inside
the selector
*/
body{
	background-color: aquamarine;
}

nav{
	background-color: white;
}

/*
	child selector(>) - allows selection of the child of the first selector
	SYNTAX: firstSelector > secondSeletor

	display:  inline-block; - it sets the dispaly of the elements
	into inline-block
		inline-block- makes the element inline with with its siblings,
		but still is block outside its parent element

	float- changes the horizontal alignment of the element and puts it
		on the specified location/position
		in this codebase, the div wll be positioned on the right side of
		the div
*/

nav > div{
	display: inline-block;
	float: right;
}

/*tag selector*/
h1{
	/* 
	!important -disregards the ranking of priority and makes the property
				the priority
				property:  value !important;
	rem- root element measurement; html tag is the root element.
			by default, rem=16px.
			computation:  n*rem; n= number attached before the rem
	 */

	color: rosybrown;
	
	/*
		2*16px= 32px
	*/

	font-size: 2rem;
	text-align: center;
}

section{
	/*
	height- modifies the height of the element
	vh - measuring the viewport hight. the measurement of the monitor
		of the user
	*/

	height: 100vh;
	text-align: center;
}

h2{
	font-size: 1.5rem;
}

ol{
	/*
	list-style type- changes the style of bullets/numbering in a list
	*/
	list-style: none;
}
/*
selector: hover -  changes style of elements;
*/
a:hover{
	background-color: paleturquoise;

}

/*
ID selectors
#idName{
	property: value;
}
*/


#zuitt-motto{
	/* letter spacing - changes the spaces between letters of the
	text element */
	letter-spacing: 5px;
	font-size: 30px;
}

/*
class selectors
.classNAme{
	property: value;
}
*/


.offered-items{
	/* text-transform - changes the casing of the text element*/
	text-transform: uppercase;
}


/*
attribute selector
	tag[attribute]{
	property: value;
	}

	tag[attribute],[attribute]{
	property: value;
	}
*/

input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: firebrick;
}

/*
	Combination Selectors
*/


/*
	adjacent sibling selector - selects the sibling directly after
	the first selector. both selectors doesn't have to belong to the
	sa,e type (tag, id, class could also be used)
	firstSelector+secondSelector{
	property: value;
	}
*/


h3 + img{
	height: 400px;
	width: 400px;
	/* border-radius - round corner of the img element*/
	border-radius: 200px;
}


/*
descendant selector
	firstSelector descendant{
	property: value;
	}

*/

section li{
	color: deeppink;
}

/*
	general selector - selects the sibling element that comes after
			the first element
	firstSelector ~ generalSibling
*/

h2 ~ a{
	/*
	text-decoration - changes the decoration of the text, 
				usually lining the text
				other value could be:  overline, line-through, underline
	*/
	text-decoration: underline;
}



form{
	color: rgb(0, 0, 128);
	background-color: floralwhite;
	/* shorthand for modifying the border */
	border: 2px solid sandybrown;
	/*vw- the measurement of the width of the user's monitor*/
	width:  20vw;
	/* 
	position- dictates the position of the element
		have the exact measurement with regards to the position
		of the element
		relative-makes the position of the element relative to its
			direction

	 */
	position: relative;
	left: 39.75%;
}

button{
	color: mistyrose;
	background-color: palevioletred;
	border: 0;
	border-radius: 15px;
}