h5{
	color: goldenrod;
	font-size: 1rem;
}


*{
	font-family: "Arial", monospace;
	font-size: 1rem;
}

html{
	scroll-behavior: smooth;
}


body{
	background-color: floralwhite;
}


h1{
	color: darkgreen;
	font-size: 2.5rem;
}

#things-learn{
	text-transform: uppercase;
}

.languages-learned{
	background-color: aquamarine;
}

ol [type]{
	border-width: 2px;
	border-style: solid;
	border-color: dimgray;
}
 

h2 + ol{
	list-style-type: inline;
}



div img{
	height: 100px;
	with: 100px;
	border-radius: 50px;
}

h2 ~ ul{
	display: inline-block;
	float: left;
}


div > ul{
	letter-spacing: 5px;
	font-size: 30px;
	list-style: none;
}


p{
	position: relative;
	left: 37.25%;
	font-size: 1.2rem;
}